/* .wrapper-container{
    width: 1197px;
    margin: 0 auto;
} */
.main{
  min-height: 500px;
    margin-top: 10px;
}

/*
.main-c{
    width: 644px;
    margin-right: 10px;
}
.main-c-1{
    border: 1px solid #ededed;
    padding-bottom: 24px;
}
.main-c-1 p{
    line-height: 24px;
}
.user-img{
    width: 74px;
    height: 74px;
    margin: 20px auto;
    background: url("../img/user-img.png") no-repeat ;
}
.main-c-2{
    margin-top: 10px;
}
.mian-c-title{
    height: 50px;
    background: #f8f8f8;
    padding-top: 14px;

}
.mian-c-title h3{
    font-size: 16px;
    color: #333;
    padding-left: 12px;
    border-left: 4px solid #00c587;
    font-weight: normal;
}


.main-c-1-r{
    float: right;
}
.main-c-1-r h4{
    font-size: 20px;
    color: #333;
    font-weight: normal;
}
.main-c-1-r span{
    font-size: 12px;
    color: #999;
}
.main-c-1-r ul {
    margin: 24px;
}
.main-c-1-r ul li{
    float: left;
    margin-left: 30px;
    text-align: center;
}

.main-r {
    position: relative;
    padding-left: 10px;
    min-height: 220px;
}

.main-r-1{
    padding: 18px 32px 22px 32px;
    border: 1px solid #ededed;
    margin-bottom: 10px;
}

.app-list p{
    font-size: 16px;
    color: #333;
    margin-top: -5px;
}
.app-list span{
    font-size: 12px;
    color: #999999;
}
.main-r-2{
    width: 210px;
    padding: 18px 0;
    border-left: 1px solid #ededed;
    margin-bottom: 10px;
}
.main-r-2 ul li {
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    display: block;

}
.main-r-2 ul li a{
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    display: block;
    color: #333;

}
.main-r-2 ul li:hover{
    background: #fafafa;
    border-left: 4px solid #00c587;
    color: #00c587;

}
.main-r-2 ul li a:hover {
    color: #00c587;

}

.ivu-tabs-tabpane .app-list{
    height: auto;
}

.ns-nav2 li {
    float: left;
    font-size: 16px;
    color: #666 !important;
}

.ns-nav2 li>a {
    color: #666 !important;
    display: block;
    padding: 29px 18px;
}
.dropdown-1 {
    position: relative;
    display: inline-block;
}

.dropdown-1-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    width: 140px;
    background: #fff;
    z-index: 9;
}

.dropdown-1-content a {
    color: #666 !important;
    padding: 10px 12px !important;
    line-height: normal !important;
    text-decoration: none;
    display: block;
}

.dropdown-1-content a:hover {
    background-color: #f1f1f1
}

.dropdown-1:hover .dropdown-1-content {
    display: block;
} */
