<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.nswy.member.mapper.AllAppInfoMapper">
	<resultMap id="BaseResultMap" type="com.ovit.nswy.member.model.AllAppInfo">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="appName" property="appName" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="level" property="level" jdbcType="INTEGER" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, appName, url, level, createTime
	</sql>

	<select id="selectAllAppInfo" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from all_app_info where level = #{level,jdbcType=INTEGER}
	</select>

	<select id="selectByAccount" resultMap="BaseResultMap"
			parameterType="java.util.Map">
		SELECT a.* from all_app_info a INNER JOIN myapp b ON a.id = b.appId
		where b.account = #{account,jdbcType=VARCHAR} AND a.level = #{level,jdbcType=INTEGER}
	</select>

</mapper>