<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.nswy.member.mapper.CertificationMapper">
	<resultMap id="BaseResultMap" type="com.ovit.nswy.member.model.Certification">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_account" property="userAccount" jdbcType="VARCHAR" />
		<result column="realname" property="realname" jdbcType="VARCHAR" />
		<result column="photo" property="photo" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="skilled_field" property="skilledField"
			jdbcType="VARCHAR" />
		<result column="major" property="major" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="id_card" property="idCard" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="addr_Detail" property="addrDetail" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_account,realname, photo, sex, skilled_field, major, title,
		status, id_card, province,mobile,city_id AS locationId,
		city, create_time,addr_Detail
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from certification
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByAccount" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from certification
		where user_account = #{account,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from certification
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ovit.nswy.member.model.Certification">
		replace into certification (id, user_account,realname, photo,
		sex, skilled_field, major,
		title, status, id_card,
		province, city, create_time,mobile,city_id,addr_Detail
		)
		values (#{id,jdbcType=INTEGER},
		#{userAccount,jdbcType=VARCHAR},#{realname,jdbcType=VARCHAR},
		#{photo,jdbcType=VARCHAR},
		#{sex,jdbcType=INTEGER}, #{skilledField,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR},
		#{title,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
		#{idCard,jdbcType=VARCHAR},
		#{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},#{mobile,jdbcType=VARCHAR},
		#{locationId,jdbcType=VARCHAR},
		#{addrDetail,jdbcType=VARCHAR}
		)
	</insert>

	<select id="findFarmFamily" parameterType="java.util.Map" resultType="java.util.Map">
		select * from farm_family where farm_account = #{account}
	</select>

	<update id="updateFarmFamily" parameterType="java.util.Map">
		update farm_family set id_card = #{idcard} where farm_account = #{account}
	</update>


	<update id="updateByPrimaryKey" parameterType="com.ovit.nswy.member.model.Certification">
		update certification
		set user_account = #{userAccount,jdbcType=VARCHAR},
		photo = #{photo,jdbcType=VARCHAR},
		sex = #{sex,jdbcType=INTEGER},
		skilled_field = #{skilledField,jdbcType=VARCHAR},
		major = #{major,jdbcType=VARCHAR},
		title = #{title,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER},
		id_card = #{idCard,jdbcType=VARCHAR},
		province = #{province,jdbcType=VARCHAR},
		city = #{city,jdbcType=VARCHAR},
		create_time =now()
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="updateCertification" parameterType="com.ovit.nswy.member.model.Certification">
		UPDATE certification SET city = #{city},mobile = #{mobile},city_id = #{locationId} WHERE user_account = #{userAccount}
	</select>

	<select id="UpdatePrivacyInfo" parameterType="java.util.Map">
		UPDATE certification SET city = #{addr.model}, mobile = #{phone.model},sex = #{sexual},addr_detail=#{addrDetail.model} WHERE user_account = #{account}
	</select>
</mapper>