<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.nswy.member.mapper.ContactInfoMapper">
	<resultMap id="BaseResultMap" type="com.ovit.nswy.member.model.ContactInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_account" property="userAccount" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="qq" property="qq" jdbcType="VARCHAR" />
		<result column="postcode" property="postcode" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="location" property="location" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="position" property="position" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_account, mobile, phone, qq, postcode, email, location, address,
		position
	</sql>
	<select id="findContactInfo" resultMap="BaseResultMap"
		parameterType="com.ovit.nswy.member.model.ContactInfo">
		select
		<include refid="Base_Column_List" />
		from contact_info
		where user_account = #{userAccount,jdbcType=VARCHAR}
	</select>

	<insert id="insert" parameterType="com.ovit.nswy.member.model.ContactInfo">
		insert into contact_info (id, user_account, mobile,
		phone, qq, postcode,
		email, location, address,
		position)
		values (#{id,jdbcType=INTEGER}, #{userAccount,jdbcType=VARCHAR},
		#{mobile,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{postcode,jdbcType=VARCHAR},
		#{email,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},
		#{position,jdbcType=VARCHAR})
	</insert>

	<update id="updateContactInfo" parameterType="com.ovit.nswy.member.model.ContactInfo">
		update contact_info
		<set>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				qq = #{qq,jdbcType=VARCHAR},
			</if>
			<if test="postcode != null">
				postcode = #{postcode,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="location != null">
				location = #{location,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				position = #{position,jdbcType=VARCHAR},
			</if>
		</set>
		where user_account = #{userAccount,jdbcType=VARCHAR}
	</update>

</mapper>