<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.nswy.member.mapper.JuBaoMapper">
	<resultMap id="BaseResultMap" type="com.ovit.nswy.member.model.JuBao">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="link" property="link" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, type, description, link, creator, create_time, img_url
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from jubao
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByLinkAndAccount" resultMap="BaseResultMap" parameterType="com.ovit.nswy.member.model.JuBao">
		select
		<include refid="Base_Column_List"/>
		from jubao
		where link = #{link,jdbcType=VARCHAR}
		AND creator = #{creator ,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from jubao
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ovit.nswy.member.model.JuBao">
		insert into jubao (id, type, description,
		link, creator, create_time,
		img_url)
		values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},
		#{link,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR},now(),
		#{imgUrl,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.ovit.nswy.member.model.JuBao">
		insert into jubao
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="link != null">
				link,
			</if>
			<if test="creator != null">
				creator,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="imgUrl != null">
				img_url,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="link != null">
				#{link,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				#{creator,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				now(),
			</if>
			<if test="imgUrl != null">
				#{imgUrl,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ovit.nswy.member.model.JuBao">
		update jubao
		<set>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="link != null">
				link = #{link,jdbcType=VARCHAR},
			</if>
			<if test="creator != null">
				creator = #{creator,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time =now(),
			</if>
			<if test="imgUrl != null">
				img_url = #{imgUrl,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ovit.nswy.member.model.JuBao">
		update jubao
		set type = #{type,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR},
		link = #{link,jdbcType=VARCHAR},
		creator = #{creator,jdbcType=VARCHAR},
		create_time =now(),
		img_url = #{imgUrl,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>