<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.nswy.member.perfectInfo.mapper.OutputProductMapper">

    <select id="find" parameterType="map" resultType="map">
        select id, year_file_id as yearId, product_status as status, species, scale,
        commodity_name as commodityName, product_name as productName, product, conversion, units,template_id as templateId
        from reversion_output_product
        where account = #{account} and year_file_id = #{yearId} and template_id = #{templateId}
    </select>

    <insert id="save" parameterType="map">
        replace into reversion_output_product (
        id,
        account,
        year_file_id,
        product_status,
        species,
        scale,
        commodity_name,
        product_name,
        product,
        conversion,
        units,
        template_id
        )values (
        #{id},
        #{account},
        #{yearId},
        #{status},
        #{species},
        #{scale},
        #{commodityName},
        #{productName},
        #{product},
        #{conversion},
        #{units},
        #{templateId}
        )
    </insert>

    <delete id="delete" parameterType="map">
        delete from reversion_output_product where id = #{id}
    </delete>

</mapper>