h1, h2, h3, h4, h5, h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    // font-family:inherit;
    font-weight: 500;
    // color: inherit;
  small,
    .sm {
        font-weight: normal;
        line-height: 1;
    }
}

h1, .h1,
h2, .h2,
h3, .h3 {
    small,
    .sm {
        font-size: 65%;
    }
}
h4, .h4,
h5, .h5,
h6, .h6 {
    small,
    .sm {
        font-size: 75%;
    }
}

h1,
.h1 {
    font-size:$font-size + 24;
}

h2,
.h2 {
    font-size: $font-size + 18;
}

h3,
.h3 {
    font-size:$font-size + 12;
}

h4,
.h4 {
    font-size: $font-size + 6;
}

h5,
.h5 {
    font-size: $font-size + 4;
}

h6,
.h6 {
    font-size: $font-size + 2;
}

.h7 {
    font-size: $font-size;
}
.h8 {
    font-size: $font-size - 2;
}
