// font相关
//-----------------------------------------------------
$font-size                   : 14px !default;
$line-height                 : 1.5 !default;
$font-family                 : "PingFangSC-Regular","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$font-cn                     : "SimSun"; //宋体
$font-yahei                  : "Microsoft Yahei"; //微软雅黑
$font-heiti                  : "SimHei"; //黑体
$font-color                  : #333 !default;

//字体图标
//-----------------------------------------------------
$font-icon-path              : "../fonts/fonts/icomoon";
$font-icon-name              : "icomoon";
$font-svg-id                 :"icomoon";

// 默认颜色
//-----------------------------------------------------
$white                       : #fff !default;
$red                         : #f30 !default;
$orange                      : #ff9900 !default;
// $yellow                      : #f8b62d !default;
// $olive                       : #4bbf7f !default;
$green                       : #4FAC77 !default;
$teal                        : #2d8cf0 !default;
// $blue                        : #00a0e9 !default;
// $violet                      : #6435C9 !default;
// $purple                      : #6907c0 !default;
// $pink                        : #E03997 !default;
// $brown                       : #A5673F !default;
$grey                        : #9B9B9B !default;
$black                       : #333 !default;


// 边框颜色
//-----------------------------------------------------
$border-color:#e6e6e6;


// 颜色变量
//-----------------------------------------------------
$map-colors:(
	'red':$white $red $red,
	'orange':$white $orange $orange,
	'green':$white $green $green,
	'teal':$white $teal $teal,
	'white':$grey $white darken($border-color,8%),
	'grey':$white $grey lighten($grey,20%),
	'black':$white $black $black
);



//填充边距 map
$list-padding-margin:(5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80);

// 链接颜色
//-----------------------------------------------------
$link-color                  : $teal !default;
$link-hover-color            : darken($link-color, 15%) !default;

//把#f36颜色亮度提高50%  #ffffff
//lighten(#f36,50%);
//把#f36颜色亮度降低50% #33000d
//darken(#f36,50%);
//把#f36颜色饱和度提高50% #ff3366
//saturate(#f36,50%);
//把#f36颜色饱和度降低50% #cc667f
//desaturate(#f36,50%);
//把#f36颜色变成灰色 #999999
//grayscale(#f36);



//tags
// --------------------------------------------------
$tags-radius				: .14rem;


//CSS3动画函数
//-----------------------------------------------------
$ease-in-quad                : cubic-bezier(0.550,  0.085, 0.680, 0.530) !default;
$ease-in-cubic               : cubic-bezier(0.550,  0.055, 0.675, 0.190) !default;
$ease-in-quart               : cubic-bezier(0.895,  0.030, 0.685, 0.220) !default;
$ease-in-quint               : cubic-bezier(0.755,  0.050, 0.855, 0.060) !default;
$ease-in-sine                : cubic-bezier(0.470,  0.000, 0.745, 0.715) !default;
$ease-in-expo                : cubic-bezier(0.950,  0.050, 0.795, 0.035) !default;
$ease-in-circ                : cubic-bezier(0.600,  0.040, 0.980, 0.335) !default;
$ease-in-back                : cubic-bezier(0.600, -0.280, 0.735, 0.045) !default;
$ease-out-quad               : cubic-bezier(0.250,  0.460, 0.450, 0.940) !default;
$ease-out-cubic              : cubic-bezier(0.215,  0.610, 0.355, 1.000) !default;
$ease-out-quart              : cubic-bezier(0.165,  0.840, 0.440, 1.000) !default;
$ease-out-quint              : cubic-bezier(0.230,  1.000, 0.320, 1.000) !default;
$ease-out-sine               : cubic-bezier(0.390,  0.575, 0.565, 1.000) !default;
$ease-out-expo               : cubic-bezier(0.190,  1.000, 0.220, 1.000) !default;
$ease-out-circ               : cubic-bezier(0.075,  0.820, 0.165, 1.000) !default;
$ease-out-back               : cubic-bezier(0.175,  0.885, 0.320, 1.275) !default;
$ease-in-out-quad            : cubic-bezier(0.455,  0.030, 0.515, 0.955) !default;
$ease-in-out-cubic           : cubic-bezier(0.645,  0.045, 0.355, 1.000) !default;
$ease-in-out-quart           : cubic-bezier(0.770,  0.000, 0.175, 1.000) !default;
$ease-in-out-quint           : cubic-bezier(0.860,  0.000, 0.070, 1.000) !default;
$ease-in-out-sine            : cubic-bezier(0.445,  0.050, 0.550, 0.950) !default;
$ease-in-out-expo            : cubic-bezier(1.000,  0.000, 0.000, 1.000) !default;
$ease-in-out-circ            : cubic-bezier(0.785,  0.135, 0.150, 0.860) !default;
$ease-in-out-back            : cubic-bezier(0.680, -0.550, 0.265, 1.550) !default;
