<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovit.nswy.portal.mapper.InformationBookMapper">
    <select id="queryBookInfo" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
            IFNULL(book_full_photo,"") AS bookFullPhoto
        FROM
            information_book_info
        WHERE
            information_detail_id = #{informationDetailId}
    </select>
</mapper>