<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.nswy.member.mapper.SoilFertilityMapper">
    <insert id="save" parameterType="map">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            SELECT COUNT(*) FROM soil_fertility WHERE product_id = #{productId}
        </selectKey>
        <if test="count > 0">
            UPDATE soil_fertility SET
                soil_organic_matter_first_drought = #{soilOrganicMatterFirstDrought},
                soil_organic_matter_second_drought = #{soilOrganicMatterSecondDrought},
                soil_organic_matter_third_drought = #{soilOrganicMatterThirdDrought},
                soil_organic_matter_first_water = #{soilOrganicMatterFirstWater},
                soil_organic_matter_second_water = #{soilOrganicMatterSecondWater},
                soil_organic_matter_third_water = #{soilOrganicMatterThirdWater},
                soil_organic_matter_first_dish = #{soilOrganicMatterFirstDish},
                soil_organic_matter_second_dish = #{soilOrganicMatterSecondDish},
                soil_organic_matter_third_dish = #{soilOrganicMatterThirdDish},
                soil_organic_matter_first_garden = #{soilOrganicMatterFirstGarden},
                soil_organic_matter_second_garden = #{soilOrganicMatterSecondGarden},
                soil_organic_matter_third_garden = #{soilOrganicMatterThirdGarden},
                soil_organic_matter_first_husbandry = #{soilOrganicMatterFirstHusbandry},
                soil_organic_matter_second_husbandry = #{soilOrganicMatterSecondHusbandry},
                soil_organic_matter_third_husbandry = #{soilOrganicMatterThirdHusbandry},
                nitrogen_first_drought = #{nitrogenFirstDrought},
                nitrogen_second_drought = #{nitrogenSecondDrought},
                nitrogen_third_drought = #{nitrogenThirdDrought},
                nitrogen_first_water = #{nitrogenFirstWater},
                nitrogen_second_water = #{nitrogenSecondWater},
                nitrogen_third_water = #{nitrogenThirdWater},
                nitrogen_first_dish = #{nitrogenFirstDish},
                nitrogen_second_dish = #{nitrogenSecondDish},
                nitrogen_third_dish = #{nitrogenThirdDish},
                nitrogen_first_garden = #{nitrogenFirstGarden},
                nitrogen_second_garden = #{nitrogenSecondGarden},
                nitrogen_third_garden = #{nitrogenThirdGarden},
                nitrogen_first_husbandry = #{nitrogenFirstHusbandry},
                nitrogen_second_husbandry = #{nitrogenSecondHusbandry},
                nitrogen_third_husbandry = #{nitrogenThirdHusbandry},
                phosphorus_first_drought = #{phosphorusFirstDrought},
                phosphorus_second_drought = #{phosphorusSecondDrought},
                phosphorus_third_drought = #{phosphorusThirdDrought},
                phosphorus_first_water = #{phosphorusFirstWater},
                phosphorus_second_water = #{phosphorusSecondWater},
                phosphorus_third_water = #{phosphorusThirdWater},
                phosphorus_first_dish = #{phosphorusFirstDish},
                phosphorus_second_dish = #{phosphorusSecondDish},
                phosphorus_third_dish = #{phosphorusThirdDish},
                phosphorus_first_garden = #{phosphorusFirstGarden},
                phosphorus_second_garden = #{phosphorusSecondGarden},
                phosphorus_third_garden = #{phosphorusThirdGarden},
                phosphorus_first_husbandry = #{phosphorusFirstHusbandry},
                phosphorus_second_husbandry = #{phosphorusSecondHusbandry},
                phosphorus_third_husbandry = #{phosphorusThirdHusbandry},
                potassium_first_drought = #{potassiumFirstDrought},
                potassium_second_drought = #{potassiumSecondDrought},
                potassium_third_drought = #{potassiumThirdDrought},
                potassium_first_water = #{potassiumFirstWater},
                potassium_second_water = #{potassiumSecondWater},
                potassium_third_water = #{potassiumThirdWater},
                potassium_first_dish = #{potassiumFirstDish},
                potassium_second_dish = #{potassiumSecondDish},
                potassium_third_dish = #{potassiumThirdDish},
                potassium_first_garden = #{potassiumFirstGarden},
                potassium_second_garden = #{potassiumSecondGarden},
                potassium_third_garden = #{potassiumThirdGarden},
                potassium_first_husbandry = #{potassiumFirstHusbandry},
                potassium_second_husbandry = #{potassiumSecondHusbandry},
                potassium_third_husbandry = #{potassiumThirdHusbandry},
                cationic_first_drought = #{cationicFirstDrought},
                cationic_second_drought = #{cationicSecondDrought},
                cationic_third_drought = #{cationicThirdDrought},
                cationic_first_water = #{cationicFirstWater},
                cationic_second_water = #{cationicSecondWater},
                cationic_third_water = #{cationicThirdWater},
                cationic_first_dish = #{cationicFirstDish},
                cationic_second_dish = #{cationicSecondDish},
                cationic_third_dish = #{cationicThirdDish},
                cationic_first_garden = #{cationicFirstGarden},
                cationic_second_garden = #{cationicSecondGarden},
                cationic_third_garden = #{cationicThirdGarden},
                cationic_first_husbandry = #{cationicFirstHusbandry},
                cationic_second_husbandry = #{cationicSecondHusbandry},
                cationic_third_husbandry = #{cationicThirdHusbandry}
            WHERE
                product_id = #{productId}
        </if>
        <if test="count == 0">
            INSERT INTO soil_fertility (
                soil_fertility_id,
                product_id,
                soil_organic_matter_first_drought,
                soil_organic_matter_second_drought,
                soil_organic_matter_third_drought,
                soil_organic_matter_first_water,
                soil_organic_matter_second_water,
                soil_organic_matter_third_water,
                soil_organic_matter_first_dish,
                soil_organic_matter_second_dish,
                soil_organic_matter_third_dish,
                soil_organic_matter_first_garden,
                soil_organic_matter_second_garden,
                soil_organic_matter_third_garden,
                soil_organic_matter_first_husbandry,
                soil_organic_matter_second_husbandry,
                soil_organic_matter_third_husbandry,
                nitrogen_first_drought,
                nitrogen_second_drought,
                nitrogen_third_drought,
                nitrogen_first_water,
                nitrogen_second_water,
                nitrogen_third_water,
                nitrogen_first_dish,
                nitrogen_second_dish,
                nitrogen_third_dish,
                nitrogen_first_garden,
                nitrogen_second_garden,
                nitrogen_third_garden,
                nitrogen_first_husbandry,
                nitrogen_second_husbandry,
                nitrogen_third_husbandry,
                phosphorus_first_drought,
                phosphorus_second_drought,
                phosphorus_third_drought,
                phosphorus_first_water,
                phosphorus_second_water,
                phosphorus_third_water,
                phosphorus_first_dish,
                phosphorus_second_dish,
                phosphorus_third_dish,
                phosphorus_first_garden,
                phosphorus_second_garden,
                phosphorus_third_garden,
                phosphorus_first_husbandry,
                phosphorus_second_husbandry,
                phosphorus_third_husbandry,
                potassium_first_drought,
                potassium_second_drought,
                potassium_third_drought,
                potassium_first_water,
                potassium_second_water,
                potassium_third_water,
                potassium_first_dish,
                potassium_second_dish,
                potassium_third_dish,
                potassium_first_garden,
                potassium_second_garden,
                potassium_third_garden,
                potassium_first_husbandry,
                potassium_second_husbandry,
                potassium_third_husbandry,
                cationic_first_drought,
                cationic_second_drought,
                cationic_third_drought,
                cationic_first_water,
                cationic_second_water,
                cationic_third_water,
                cationic_first_dish,
                cationic_second_dish,
                cationic_third_dish,
                cationic_first_garden,
                cationic_second_garden,
                cationic_third_garden,
                cationic_first_husbandry,
                cationic_second_husbandry,
                cationic_third_husbandry,
                create_time
            ) VALUES (
                UUID(),
                #{productId},
                #{soilOrganicMatterFirstDrought},
                #{soilOrganicMatterSecondDrought},
                #{soilOrganicMatterThirdDrought},
                #{soilOrganicMatterFirstWater},
                #{soilOrganicMatterSecondWater},
                #{soilOrganicMatterThirdWater},
                #{soilOrganicMatterFirstDish},
                #{soilOrganicMatterSecondDish},
                #{soilOrganicMatterThirdDish},
                #{soilOrganicMatterFirstGarden},
                #{soilOrganicMatterSecondGarden},
                #{soilOrganicMatterThirdGarden},
                #{soilOrganicMatterFirstHusbandry},
                #{soilOrganicMatterSecondHusbandry},
                #{soilOrganicMatterThirdHusbandry},
                #{nitrogenFirstDrought},
                #{nitrogenSecondDrought},
                #{nitrogenThirdDrought},
                #{nitrogenFirstWater},
                #{nitrogenSecondWater},
                #{nitrogenThirdWater},
                #{nitrogenFirstDish},
                #{nitrogenSecondDish},
                #{nitrogenThirdDish},
                #{nitrogenFirstGarden},
                #{nitrogenSecondGarden},
                #{nitrogenThirdGarden},
                #{nitrogenFirstHusbandry},
                #{nitrogenSecondHusbandry},
                #{nitrogenThirdHusbandry},
                #{phosphorusFirstDrought},
                #{phosphorusSecondDrought},
                #{phosphorusThirdDrought},
                #{phosphorusFirstWater},
                #{phosphorusSecondWater},
                #{phosphorusThirdWater},
                #{phosphorusFirstDish},
                #{phosphorusSecondDish},
                #{phosphorusThirdDish},
                #{phosphorusFirstGarden},
                #{phosphorusSecondGarden},
                #{phosphorusThirdGarden},
                #{phosphorusFirstHusbandry},
                #{phosphorusSecondHusbandry},
                #{phosphorusThirdHusbandry},
                #{potassiumFirstDrought},
                #{potassiumSecondDrought},
                #{potassiumThirdDrought},
                #{potassiumFirstWater},
                #{potassiumSecondWater},
                #{potassiumThirdWater},
                #{potassiumFirstDish},
                #{potassiumSecondDish},
                #{potassiumThirdDish},
                #{potassiumFirstGarden},
                #{potassiumSecondGarden},
                #{potassiumThirdGarden},
                #{potassiumFirstHusbandry},
                #{potassiumSecondHusbandry},
                #{potassiumThirdHusbandry},
                #{cationicFirstDrought},
                #{cationicSecondDrought},
                #{cationicThirdDrought},
                #{cationicFirstWater},
                #{cationicSecondWater},
                #{cationicThirdWater},
                #{cationicFirstDish},
                #{cationicSecondDish},
                #{cationicThirdDish},
                #{cationicFirstGarden},
                #{cationicSecondGarden},
                #{cationicThirdGarden},
                #{cationicFirstHusbandry},
                #{cationicSecondHusbandry},
                #{cationicThirdHusbandry},
                NOW()
            )
        </if>
    </insert>

    <select id="query" parameterType="map" resultType="map">
        SELECT
            soil_fertility_id AS soilFertilityId,
            product_id AS productId,
            soil_organic_matter_first_drought AS soilOrganicMatterFirstDrought,
            soil_organic_matter_second_drought AS soilOrganicMatterSecondDrought,
            soil_organic_matter_third_drought AS soilOrganicMatterThirdDrought,
            soil_organic_matter_first_water AS soilOrganicMatterFirstWater,
            soil_organic_matter_second_water AS soilOrganicMatterSecondWater,
            soil_organic_matter_third_water AS soilOrganicMatterThirdWater,
            soil_organic_matter_first_dish AS soilOrganicMatterFirstDish,
            soil_organic_matter_second_dish AS soilOrganicMatterSecondDish,
            soil_organic_matter_third_dish AS soilOrganicMatterThirdDish,
            soil_organic_matter_first_garden AS soilOrganicMatterFirstGarden,
            soil_organic_matter_second_garden AS soilOrganicMatterSecondGarden,
            soil_organic_matter_third_garden AS soilOrganicMatterThirdGarden,
            soil_organic_matter_first_husbandry AS soilOrganicMatterFirstHusbandry,
            soil_organic_matter_second_husbandry AS soilOrganicMatterSecondHusbandry,
            soil_organic_matter_third_husbandry AS soilOrganicMatterThirdHusbandry,
            nitrogen_first_drought AS nitrogenFirstDrought,
            nitrogen_second_drought AS nitrogenSecondDrought,
            nitrogen_third_drought AS nitrogenThirdDrought,
            nitrogen_first_water AS nitrogenFirstWater,
            nitrogen_second_water AS nitrogenSecondWater,
            nitrogen_third_water AS nitrogenThirdWater,
            nitrogen_first_dish AS nitrogenFirstDish,
            nitrogen_second_dish AS nitrogenSecondDish,
            nitrogen_third_dish AS nitrogenThirdDish,
            nitrogen_first_garden AS nitrogenFirstGarden,
            nitrogen_second_garden AS nitrogenSecondGarden,
            nitrogen_third_garden AS nitrogenThirdGarden,
            nitrogen_first_husbandry AS nitrogenFirstHusbandry,
            nitrogen_second_husbandry AS nitrogenSecondHusbandry,
            nitrogen_third_husbandry AS nitrogenThirdHusbandry,
            phosphorus_first_drought AS phosphorusFirstDrought,
            phosphorus_second_drought AS phosphorusSecondDrought,
            phosphorus_third_drought AS phosphorusThirdDrought,
            phosphorus_first_water AS phosphorusFirstWater,
            phosphorus_second_water AS phosphorusSecondWater,
            phosphorus_third_water AS phosphorusThirdWater,
            phosphorus_first_dish AS phosphorusFirstDish,
            phosphorus_second_dish AS phosphorusSecondDish,
            phosphorus_third_dish AS phosphorusThirdDish,
            phosphorus_first_garden AS phosphorusFirstGarden,
            phosphorus_second_garden AS phosphorusSecondGarden,
            phosphorus_third_garden AS phosphorusThirdGarden,
            phosphorus_first_husbandry AS phosphorusFirstHusbandry,
            phosphorus_second_husbandry AS phosphorusSecondHusbandry,
            phosphorus_third_husbandry AS phosphorusThirdHusbandry,
            potassium_first_drought AS potassiumFirstDrought,
            potassium_second_drought AS potassiumSecondDrought,
            potassium_third_drought AS potassiumThirdDrought,
            potassium_first_water AS potassiumFirstWater,
            potassium_second_water AS potassiumSecondWater,
            potassium_third_water AS potassiumThirdWater,
            potassium_first_dish AS potassiumFirstDish,
            potassium_second_dish AS potassiumSecondDish,
            potassium_third_dish AS potassiumThirdDish,
            potassium_first_garden AS potassiumFirstGarden,
            potassium_second_garden AS potassiumSecondGarden,
            potassium_third_garden AS potassiumThirdGarden,
            potassium_first_husbandry AS potassiumFirstHusbandry,
            potassium_second_husbandry AS potassiumSecondHusbandry,
            potassium_third_husbandry AS potassiumThirdHusbandry,
            cationic_first_drought AS cationicFirstDrought,
            cationic_second_drought AS cationicSecondDrought,
            cationic_third_drought AS cationicThirdDrought,
            cationic_first_water AS cationicFirstWater,
            cationic_second_water AS cationicSecondWater,
            cationic_third_water AS cationicThirdWater,
            cationic_first_dish AS cationicFirstDish,
            cationic_second_dish AS cationicSecondDish,
            cationic_third_dish AS cationicThirdDish,
            cationic_first_garden AS cationicFirstGarden,
            cationic_second_garden AS cationicSecondGarden,
            cationic_third_garden AS cationicThirdGarden,
            cationic_first_husbandry AS cationicFirstHusbandry,
            cationic_second_husbandry AS cationicSecondHusbandry,
            cationic_third_husbandry AS cationicThirdHusbandry,
            create_time AS createTime,
            update_time AS updateTime
        FROM soil_fertility WHERE product_id = #{productId}

    </select>
</mapper>