<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovit.nswy.member.mapper.ThumbDetailMapper">
  <resultMap id="BaseResultMap" type="com.ovit.nswy.member.model.ThumbDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="detail_id" jdbcType="INTEGER" property="detailId" />
    <result column="detail_type" jdbcType="VARCHAR" property="detailType" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, account, detail_id, detail_type, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from thumb_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByThumbDetail" resultType="com.ovit.nswy.member.model.ThumbDetail" parameterType="com.ovit.nswy.member.model.ThumbDetail">
    select *
    from thumb_detail
    where account = #{account,jdbcType=VARCHAR} and detail_id = #{detailId ,jdbcType=INTEGER}
    and detail_type =#{detailType ,jdbcType=VARCHAR}

  </select>

  <select id="findThumbDetailCount" resultType="java.lang.Integer" parameterType="com.ovit.nswy.member.model.ThumbDetail">
    select count(*) from thumb_detail where detail_type =#{detailType ,jdbcType=VARCHAR} and detail_id = #{detailId ,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from thumb_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ovit.nswy.member.model.ThumbDetail">
    insert into thumb_detail (id, account, detail_id, 
      detail_type, update_time)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{detailId,jdbcType=INTEGER}, 
      #{detailType,jdbcType=VARCHAR}, now())
  </insert>
  <insert id="insertSelective" parameterType="com.ovit.nswy.member.model.ThumbDetail">
    insert into thumb_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="detailId != null">
        detail_id,
      </if>
      <if test="detailType != null">
        detail_type,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="detailId != null">
        #{detailId,jdbcType=INTEGER},
      </if>
      <if test="detailType != null">
        #{detailType,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ovit.nswy.member.model.ThumbDetail">
    update thumb_detail
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="detailId != null">
        detail_id = #{detailId,jdbcType=INTEGER},
      </if>
      <if test="detailType != null">
        detail_type = #{detailType,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ovit.nswy.member.model.ThumbDetail">
    update thumb_detail
    set account = #{account,jdbcType=VARCHAR},
      detail_id = #{detailId,jdbcType=INTEGER},
      detail_type = #{detailType,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>