<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="WorkMapper">
	<sql id="Base_Column_List">
		id,account,`work`,create_time
	</sql>
	<select id="selectByAccount" resultType="java.util.Map" parameterType="java.util.Map">
		select
        <include refid="Base_Column_List" />
        from user_work_1 where account = #{account,jdbcType=VARCHAR}
	</select>
	<insert id="insert" parameterType="map">
		 INSERT into user_work_1 (account,`work`,create_time)
    		values(#{account,jdbcType=VARCHAR},#{work,jdbcType=VARCHAR},now())
	</insert>
  <delete id="deleteByAccount" parameterType="java.util.Map">
       DELETE FROM user_work_1 WHERE account=#{account,jdbcType=VARCHAR}
    </delete>
</mapper>