.vui-flex{
  display: flex;
}
.vui-flex-ver {
    box-orient: vertical;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.vui-flex-start{
  justify-content:flex-start;
}
.vui-flex-end{
  justify-content:flex-end
}
.vui-flex-center{
  justify-content: center;
}
.vui-flex-top{
  align-items:flex-start
}
.vui-flex-bottom{
  align-items:flex-end
}
.vui-flex-middle{
  align-items: center;
}
.vui-flex-between{
  justify-content: space-between;
}
.vui-flex-around{
  justify-content: space-around;
}
.vui-flex-item {
  flex: 1;
// width: 0%;
}
.vui-flex-item-2 {
  flex: 2;
// width: 0%;
}
.vui-flex-item > .vui-flex {
  width: 100%;
}
// .vui-flex-vertical {
//   box-orient: vertical;
//   flex-direction: column;
// }
