
//辅助类
//-----------------------------------------------------

//对齐方式
.tl{text-align:left!important;}
.tr{text-align:right!important;}
.tc{text-align:center!important;}
.tj{text-align:justify;}
.tn{white-space:nowrap;}
.b{font-weight:700;}

//文本颜色
//-----------------------------------------------------
@each $txt-name, $text-color in $map-colors{
  .t-#{$txt-name}{
    color:nth($text-color,2) !important;
  }
} 

//背景颜色
//-----------------------------------------------------
@each $bg-name, $bg-color in $map-colors{
  .bg-#{$bg-name}{
    background-color: nth($bg-color,2) !important;
    &,a{color:nth($bg-color,1);}
    @if $bg-name == 'white' {
      background-color: $white !important;
      &,a{color:$font-color;}
    }
  }

}

//填充边距方法
//-----------------------------------------------------
@mixin padding-margin($className,$attr){
  @each $i in $list-padding-margin {
    .#{$className}#{$i}{
      #{$attr}:($i) * 0.25vw;
    }
  }
}
//默认填充
//-----------------------------------------------------
@include padding-margin(pd,padding);
@include padding-margin(pt,padding-top);
@include padding-margin(pr,padding-right);
@include padding-margin(pb,padding-bottom);
@include padding-margin(pl,padding-left);

//默认边距
//-----------------------------------------------------
@include padding-margin(mt,margin-top);
@include padding-margin(mr,margin-right);
@include padding-margin(mb,margin-bottom);
@include padding-margin(ml,margin-left);
@include padding-margin(mg,margin);

//单行文字溢出省略号
//-----------------------------------------------------
.ell {
  @include ell()
}
.ell-2{
  @include ell(true, 2, vertical)
}
.ell-3{
  @include ell(true, 3, vertical)
}


.scroll,
.scroll-y,
.scroll-x{
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: rgba(51,51,51,.15);
	}
}
.scroll{
	overflow: auto
}
.scroll-y{
  overflow-y: auto;
}
.scroll-x{
  overflow-x: auto;
}