<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ovit.nswy.member.certification.mapper.AppSettingsMapper">

	<select id="findAppSettingsByAccount" resultType="java.util.Map" parameterType="java.util.Map">
		select
		id, account, app_id as appId, create_time as createTime, app_name as appName, template_id as templateId, user_type as userType
		from reversion_user_app_setting
		where 1=1
		<if test="account != null and account != ''">
			AND account = #{account}
		</if>
		<if test="templateId != null and templateId != ''">
			AND template_id = #{templateId}
		</if>
	</select>

	<select id="findAllAppInfo" resultType="java.util.Map">
		select
		id, app_name as appName, url, `level` , icon, cost, number,user_type as userType,service_type as serviceType
		from reversion_full_app_setting
	</select>

	<insert id="saveAppSettings" parameterType="java.util.Map">
		INSERT INTO reversion_user_app_setting (
			account,
			app_id,
			app_name,
			user_type,
			template_id
		) VALUES
			(
				#{account},
				#{appId},
				#{appName},
				#{userType},
				#{templateId}
			)
	</insert>

	<delete id="cancelAppSettings" parameterType="java.util.Map">
		DELETE FROM reversion_user_app_setting
		WHERE account = #{account} AND app_id = #{appId}
	</delete>

	<delete id="deleteAppSettings" parameterType="java.util.Map">
		DELETE FROM reversion_user_app_setting
		WHERE account = #{account} AND app_id = #{appId} and template_id = #{templateId}
	</delete>

	<select id="findAppSetting" resultType="java.util.Map" parameterType="java.util.Map">
		select
		id, account, app_id as appId, create_time as createTime, app_name as appName, template_id as templateId
		from reversion_user_app_setting
		where 1=1
		<if test="account != null and account != ''">
			AND account = #{account}
		</if>
		<if test="templateId != null and templateId != ''">
			AND template_id = #{templateId}
		</if>
		<if test="appId != null and appId != ''">
			AND app_id = #{appId}
		</if>
	</select>
	
	<update id="cancelNumber" parameterType="java.lang.String">
		update reversion_full_app_setting set number=number-1 where id = #{appId};
	</update>

	<update id="addNumber" parameterType="java.lang.String">
		update reversion_full_app_setting set number=number+1 where id = #{appId};
	</update>

	<select id="findAppTitle" resultType="java.util.Map" parameterType="java.util.Map">
		select
		id, account, template_id as templateId, `level`, title
		from reversion_user_app_title
		where 1=1
		<if test="account != null and account != ''">
			AND account = #{account}
		</if>
		<if test="templateId != null and templateId != ''">
			AND template_id = #{templateId}
		</if>
		<if test="dictId != null and dictId != ''">
			AND level = #{dictId}
		</if>
	</select>

	<insert id="saveAppTitle" parameterType="java.util.Map">
		INSERT INTO reversion_user_app_title (
		account,
		template_id,
		level,
		title
		) VALUES
		(
		#{account},
		#{templateId},
		#{dictId},
		#{propertyName}
		)
	</insert>

	<update id="updateAppTitle" parameterType="java.util.Map">
		UPDATE reversion_user_app_title
		SET title = #{propertyName}
		WHERE 1=1
		<if test="account != null and account != ''">
			AND account = #{account}
		</if>
		<if test="templateId != null and templateId != ''">
			AND template_id = #{templateId}
		</if>
		<if test="dictId != null and dictId != ''">
			AND level = #{dictId}
		</if>
	</update>

</mapper>