<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovit.nswy.relationship.mapper.AgencyMapper">
  <resultMap id="BaseResultMap" type="com.ovit.nswy.relationship.model.Agency">
    <id column="agency_id" jdbcType="INTEGER" property="agencyId" />
    <result column="agency_type" jdbcType="INTEGER" property="agencyType" />
    <result column="agency_name" jdbcType="VARCHAR" property="agencyName" />
    <result column="credit_code" jdbcType="VARCHAR" property="creditCode" />
    <result column="legal_person" jdbcType="VARCHAR" property="legalPerson" />
    <result column="contact_way" jdbcType="VARCHAR" property="contactWay" />
    <result column="registered_address" jdbcType="VARCHAR" property="registeredAddress" />
    <result column="agreement_image" jdbcType="VARCHAR" property="agreementImage" />
    <result column="license_image" jdbcType="VARCHAR" property="licenseImage" />
    <result column="legal _idcard_image" jdbcType="VARCHAR" property="legalIdcardImage" />
    <result column="agent _idcard_image" jdbcType="VARCHAR" property="agentIdcardImage" />
    <result column="agent_account" jdbcType="VARCHAR" property="agentAccount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

</mapper>