.wrapper-container{
    width: 1197px;
    margin: 0 auto;
}


.main-top{
    background: #ebf0ef;
    padding: 34px 0 2px 0;
}
.gongsi-title{
    width: 1025px;
    margin: 0 auto;

}
.main-nav ul {
    height: 50px;

}

.main-nav ul li a:hover{
    color: #00c587;
    /*border-bottom: 2px solid #00c587;*/

}
.main-nav ul li a.active{
    color: #00c587;
    /*border-bottom: 2px solid #00c587;*/

}

.main-bot-title h3{
    line-height: 70px;
    font-size: 18px;
    font-weight: normal;
    color: #333;
}
.main-bot-title p{

    font-size: 16px;
    line-height: 1.5;
    color: #666666;

}
.main-bot-title h4{
    font-size: 16px;
    font-weight: normal;

}
.main-bot-title span{
    font-size: 12px;
    color: #999999;
    margin-bottom: 26px;
    line-height: 26px;

}

.ivu-col-span-4 {
    display: block;
    width: 177px;


}
.img-border{
    border: 1px solid #ededed;
    height: 177px;

}
.img-1{
    width: 350px;
    height: 196px;
    background: url("../img/qiyeimg.png");
}
.img-2{
    width: 350px;
    height: 196px;
    background: url("../img/qiyeimg.png");
}
